<!DOCTYPE html lang="en-CA">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>	
		<meta name="msvalidate.01" content="CF43E0E693FD6DE4A4C4E9BCC83E0CA9" />
        <title>Symon M. Oliver</title>
		
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
        <meta name="description" content="Personal portfolio and experimental site exploring propagation, new online tools, and research driven process.">
		
		<meta name="keywords" content="art, sculpture, design, design theory, also collective, strategy, web design, graphic design, workshops, critical theory">
		
		<meta name="author" content="ALSO Collective">
		
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="http://alsocollective.github.io/also-cdn/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">

		<script type="text/javascript">
		/*WebFontConfig = { fontdeck: { id: '35061' } };

		(function() {
		  var wf = document.createElement('script');
		  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		  wf.type = 'text/javascript';
		  wf.async = 'true';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(wf, s);
		})();*/
		</script>
    </head>
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

<a href="https://plus.google.com/u/0/117727066532397656655?rel=author"></a>

<div id="backimage"></div>

<section id="overlay">
	
	<h2 class="name" itemscope itemtype="http://schema.org/Person">
		<span itemprop="name">Symon M. Oliver</span>
	</h2>
	
	<nav>

		<a href="mailto:symon@alsocollective.com" class="contact">symon@alsocollective.com</a>
		
		<ul class="main-navigation">
			<li><a href="#work" class="nav-link">work</a></li>
			<li><a href="#about" class="nav-link">about</a></li>
			<li><a href="#research" class="nav-link">research</a></li>
			<!--<li><a href="#comrades" class="nav-link">comrades</a></li>-->
		</ul>
		
		<ul class="social-media">
			<li><a href="https://twitter.com/symon_oliver">twt</a></li>
			<li><a href="http://www.linkedin.com/in/symonoliver">lnkdn</a></li>
			<li><a href="https://plus.google.com/+SymonOliver">G+</a></li>
		</ul>

		<a href="/static/img/cv-2013-oct.pdf" class="curriculum-vitae">curriculum vitae</a>
		
		<h3 class="last-update">last update<br/> 11 / 02 / 2013</h3>
	</nav>
	
</section>

<section id="home">
	<img src="/static/img/back.png" alt="background image" width="100%" height="auto"/>
	<canvas id="main-canvas" width="800px" height="400px">
		<!--Do Not Forget Fallback for Canvas-->
	</canvas>
</section>

<section id="work">
	
	<h2>Work</h2>
		
		<table>
			<colgroup>
				<col id="title">
				<col id="description">
				<col id="category">
				<col id="date">
			</colgroup>
			
			<!--<thead>
				<td></td>
				<td></td>
				<td></td>
				<td></td>		
			</thead>-->
				
			<tr class="work-row">
				<td id="intervals">Intervals</td>
				<td><strong>Description:</strong> Design as a general descriptor, is more of a synecdoche describing a framework for problem solving often referred to as the design process.</td>
				<td>Interactive Installation</td>
				<td>04 / 15 / 2011</td>
			</tr>
			
			<tr class="work-row">
				<td id="out-of-site">Out of Site</td>
				<td><strong>Description:</strong> N/A</td>
				<td>Photography</td>
				<td>06 / 06 / 2011</td>
			</tr>
			
			<tr class="work-row">
				<td id="youths">Youths</td>
				<td><strong>Description: Poster</strong> These images were created with the idea of exploring how young designers use graphic devices and styles with little context of their history.</td>
				<td>Poster</td>
				<td>06 / 06 / 2011</td>
			</tr>
			
			<tr class="work-row">
				<td id="shelter">Shelter</td>
				<td><strong>Description:</strong> Extending the charrette-based approach to making. Shelters were built without any tools to fasten or reinforce the structures' integrity.</td>
				<td>Installation</td>
				<td>07 / 10 / 2011</td>
			</tr>
			
			<tr class="work-row">
				<td id="interstices">Interstices</td>
				<td><strong>Description:</strong> N/A</td>
				<td>Poster</td>
				<td>05 / 06 / 2010</td>
			</tr>
			
			<tr class="work-row">
				<td id="madethought">Made Thoughts</td>
				<td><strong>Description:</strong> N/A</td>
				<td>Poster Series</td>
				<td>03 / 15 / 2011</td>
			</tr>
			
			<tr class="work-row">
				<td id="totalsavings-28-05">Total Savings: $28.05</td>
				<td><strong>Description:</strong> Thirty two coupons collected during the christmas holidays. This set came from a <i>ZEHRS: Real Canadian Superstore</i> in St. Catharines Ontario Canada.</td>
				<td>Poster</td>
				<td>12 / 20 / 2010</td>
			</tr>
			
		</table>
		
		<div id="out-of-site-img" class="project show-work">
			<img class="work-img" src="http://static.symonoliver.com/static/img/sight-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-04.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-05.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-06.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-07.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-08.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-09.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-10.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-11.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-12.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-13.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-14.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-15.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-16.jpg" alt="work image">
			<img class="work-img" src="/static/img/sight-17.jpg" alt="work image">
			<!--<div class="work-img"><p>This is a paragraph explaining the work</p></div>-->
		</div>
		
		<div id="intervals-img" class="project show-work">
			<img class="work-img" src="/static/img/intervals-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-04.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-05.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-06.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-07.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-08.jpg" alt="work image">
			<img class="work-img" src="/static/img/intervals-09.jpg" alt="work image">
			
			<img class="work-img" src="/static/img/intervals-10.jpg" alt="work image">
			<!--<div class="work-img"><p>Design as a general descriptor, is more of a synecdoche describing a framework for problem solving often referred to as the design process. At present the most successful design processes begin with one fundamental step, problem framing. Our aptitudes for recognizing problems have remained relatively unchanged; however, the complexity of the world, which we have created, has grown immeasurably large.</p></div>-->
		</div>
		
		<div id="youths-img" class="project show-work">
			<img class="work-img" src="/static/img/youths-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/youths-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/youths-04.jpg" alt="work image">
			<img class="work-img" src="/static/img/youths-05.jpg" alt="work image">
			<img class="work-img" src="/static/img/youths-06.jpg" alt="work image">
			<!--<div class="work-img"><p>These images were created with the idea of exploring how young designers use graphic devices and styles with little context of their history. The idea was then exaggerate by having Madeline(7) and Megan(9) recreate 3 images prominent within design history. In collaboration with <a href="http://lisagmacdonald.com/">Lisa MacDonald</a>, Exhibited in the <a href="http://creative-type.ca/">Creative Type</a> III Show</p></div>-->
		</div>
		
		<div id="shelter-img" class="project show-work">
			<img class="work-img" src="/static/img/shelter-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-04.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-05.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-06.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-07.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-08.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-09.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-10.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-11.jpg" alt="work image">
			<img class="work-img" src="/static/img/shelter-12.jpg" alt="work image">
			<!--<div class="work-img"><p>Thirty two coupons collected during the christmas holidays. This set came from a <i>ZEHRS: Real Canadian Superstore</i> in St. Catharines Ontario Canada.</p></div>-->
		</div>
		
		<div id="interstices-img" class="project show-work">
			<img class="work-img" src="/static/img/interstices-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/interstices-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/interstices-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/interstices-04.jpg" alt="work image">
			<!--<div class="work-img"><p>Our past and present is continuously mediated through our visual catalogues that we build. The images we collect confirm our individual histories. A moment, a birthday, or vacations allude to the sequence of a life. What happens when these moments are lost? The images within this poster are from a found roll of 35mm film. The film was developed and the fragments of a life were revealed. Typographically the type is drawn out in a single motion and the letterforms become compressed discontinuous. These distortions represent the break in continuity as the result of these lost images.</p></div>-->
		</div>
		
		<div id="madethought-img" class="project show-work">
			<img class="work-img" src="/static/img/madethought-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/madethought-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/madethought-03.jpg" alt="work image">
			<img class="work-img" src="/static/img/madethought-04.jpg" alt="work image">
			<img class="work-img" src="/static/img/madethought-05.jpg" alt="work image">
			<!--<div class="work-img"><p>Our past and present is continuously mediated through our visual catalogues that we build. The images we collect confirm our individual histories. A moment, a birthday, or vacations allude to the sequence of a life. What happens when these moments are lost? The images within this poster are from a found roll of 35mm film. The film was developed and the fragments of a life were revealed. Typographically the type is drawn out in a single motion and the letterforms become compressed discontinuous. These distortions represent the break in continuity as the result of these lost images.</p></div>-->
		</div>
		
		<div id="totalsavings-28-05-img" class="project show-work">
			<img class="work-img" src="/static/img/totalsavings-01.jpg" alt="work image">
			<img class="work-img" src="/static/img/totalsavings-02.jpg" alt="work image">
			<img class="work-img" src="/static/img/totalsavings-03.jpg" alt="work image">
			<!--<div class="work-img"><p>Our past and present is continuously mediated through our visual catalogues that we build. The images we collect confirm our individual histories. A moment, a birthday, or vacations allude to the sequence of a life. What happens when these moments are lost? The images within this poster are from a found roll of 35mm film. The film was developed and the fragments of a life were revealed. Typographically the type is drawn out in a single motion and the letterforms become compressed discontinuous. These distortions represent the break in continuity as the result of these lost images.</p></div>-->
		</div>
		
</section>

<section id="about">
	<h2>About</h2>
	<div>
		<p>Symon Oliver Co-Founded <a href="http://www.alsocollective.com/" target="ALSO Collective">ALSO Collective</a> with <a href="http://portfolio.antoniolennert.com/" target="Antonio Lennert">Antonio Lennert</a>. ALSO Collective is a multidisciplinary digital media and print design studio located in Toronto Canada. Oliver graduated from <a href="http://www.ocadu.ca/" target="OCAD University">OCAD University's</a> Faculty of Design, with a liberal studies minor in Media Studies.
			
			<p>While at OCAD University Oliver Co-Directed the <a href="http://ocadustudentpress.com/" target="Student Press">OCAD U Student Press, worked with the university's <a href="http://research.ocadu.ca/mobilelab/home" target="Mobile Experience Lab">Mobile Experience Lab</a>, and <a href="http://www.civ-ddd.net/" target="CIV-DDD">Centre for Innovation in Visualization and Data Driven Design (CIV-DDD)</a> with teams exploring data visualization, mapping, gestural editing, and mindfulness, and play.</p>
				
			<p>Oliver is currently focusing on ALSO Collective, a series of design inquiry workshops with the group ABCD, and exploring the programming of space with Kevin Booth of <a href="http://towards.info" target="Towards.info">Towards.info.</a></p>
		
		<p>This website is intended to remain a constant work in progress. It is here for me to break, reconfigure, and learn from. Everything from the back end and front end code, the distant server, data streams, analytics, SEO, and content will be meddled with.</p>
	</div>
</section>

<section id="research">
	<h2>Research (Selected)</h2>
	<div>
		<p>Below you will find selected research publications. For an extended list please refer to my curriculm vitae (cv) located in a fixed position at the base of this window.</p>
	
	<table>
		<colgroup>
			<col id="title">
			<col id="description">
			<col id="category">
			<col id="download">
			<col id="authors">
			<col id="date">
		</colgroup>
		<tr>
			<td>Biomapping: Geolocative biometrics</td>
			<td>UE 2013</td>
			<td>Work in Progress</td>
			<td>–</td>
			<td>Surlin, S. Oliver, S. Anderson, B. Vassiliev, A. Gardner, P.</td>
			<td>06 / 20 / 2013</td>
		</tr>
		<tr>
			<td>Discursive Navigation of News</td>
			<td>DIS 2012</td>
			<td>Short Paper</td>
			<td><a href="/static/img/DIS12-discursive.pdf">Download: pdf</a></td>
			<td>Oliver, S. Gali, G. Chevalier, F. Diamond, S.</td>
			<td>06 / 11 / 2012</td>
		</tr>
		<tr>
			<td>With You</td>
			<td>DIS 2012</td>
			<td>Work in Progress</td>
			<td>–</td>
			<td>Khosravi Fard, H. Oliver, S. Gardner, P. Stein, S.</td>
			<td>06 / 11 / 2012</td>
		</tr>
		<tr>
			<td>Visualizing Sentiment</td>
			<td>CHI 2012</td>
			<td>Work in Progress</td>
			<td><a href="/static/img/CHI2012_VisualizingSentimentMetaphors.pdf">Download: pdf</a></td>
			<td>Gali, G. Oliver, S. Chevalier, F. Diamond, S.</td>
			<td>05 / 5 / 2012</td>
		</tr>
	</table>
	</div>
</section>


<section id="comrades">
	
	<h2>Comrades</h2>
	
	<div itemscope itemtype="http://schema.org/Person">
		<p>A growing list of friends and collaborators.</p>
	

		<table>
			<colgroup>
				<col id="comrades-url">
				<col id="comrades-name">
			</colgroup>
			
			<tr>
				<td><a href="http://portfolio.antoniolennert.com/" itemprop="url">portfolio.antoniolennert.com/</a></td>
				<td itemprop="colleague"><span itemprop="name">Antonio Lennert</span></td>
			</tr>
			<tr>
				<td><a href="http://bohdananderson.com/" itemprop="url">bohdananderson.com/</a></td>
				<td itemprop="colleague"><span itemprop="name">Bohdan Anderson</span></td>
			</tr>
			<tr>
				<td><a href="http://cargocollective.com/ecnovotny" itemprop="url">cargocollective.com/ecnovotny</a></td>
				<td itemprop="colleague"><span itemprop="name">Emma Novotny</span></td>
			</tr>
			<tr>
				<td><a href="http://lisagmacdonald.com/" itemprop="url">lisagmacdonald.com/</a></td>
				<td itemprop="colleague"><span itemprop="name">Lisa G MacDonald</span></td>
			</tr>
		</table>
		</div>
	</section>			

<!--<section id="comrades">
	
	<h2>Comrades</h2>
	
	<div>
		<p>A list of collaborators</p>
	

		<table>
			<colgroup>
				<col id="comrades-url">
				<col id="comrades-name">
			</colgroup>
			
			<tr>
				<td><a href="http://portfolio.antoniolennert.com/">portfolio.antoniolennert.com/</a></td>
				<td>Antonio Lennert</td>
			</tr>
			<tr>
				<td><a href="http://darrenrigo.com/">darrenrigo.com/</a></td>
				<td>Darren Rigo</td>
			</tr>
			<tr>
				<td><a href="http://brendangeorgeko.com/">brendangeorgeko.com/</a></td>
				<td>Brendan George Ko</td>
			</tr>
			<tr>
				<td><a href="http://cargocollective.com/ecnovotny">cargocollective.com/ecnovotny</a></td>
				<td>Emma Novotny</td>
			</tr>
			<tr>
				<td><a href="http://www.jessicaleong.com/">www.jessicaleong.com/</a></td>
				<td>Jessica Leong</td>
			</tr>
			<tr>
				<td><a href="http://towards.info/">towards.info/</a></td>
				<td>Towards.info</td>
			</tr>
			<tr>
				<td><a href="http://lisagmacdonald.com/">lisagmacdonald.com/</a></td>
				<td>Lisa G MacDonald</td>
			</tr>
			<tr>
				<td><a href="http://bohdananderson.com/">bohdananderson.com/</a></td>
				<td>Bohdan Anderson</td>
			</tr>
			<tr>
				<td><a href="http://www.patriciodavila.com/projects/">www.patriciodavila.com/</a></td>
				<td>Patricio Davila</td>
			</tr>
			<tr>
				<td><a href="http://winnietruong.com/">winnietruong.com/</a></td>
				<td>Winnie Truong</td>
			</tr>
			<tr>
				<td><a href="http://www.tombriggsdesign.com/">www.tombriggsdesign.com/</a></td>
				<td>Tom Briggs</td>
			</tr>
			<tr>
				<td><a href="http://www.janavendano.com/">www.janavendano.com/</a></td>
				<td>Jan Avendano</td>
			</tr>
			<tr>
				<td><a href="http://fannychevalier.net/">fannychevalier.net/</a></td>
				<td>Fanny Chevalier</td>
			</tr>
			<tr>
				<td><a href="http://guiagali.com/">guiagali.com/</a></td>
				<td>Guia Gali</td>
			</tr>
			<tr>
				<td><a href="">sean/</a></td>
				<td>Sean Lewis</td>
			</tr>
			
		</table>
		
		</div>
</section>-->

<!--<section id="reading-packages">
	<h2>Reading Packages</h2>
	<div>
		<p>Is estempo rporuptiis voluptibus mi, quam fugit la cusci natibus sum cum vel ipid mi, si dolupta turestis atibeaque si odis et etur? Ipic torem con nobis estis estrupta illupta nestisimus cone voluptate non re, nonserum aut la sam voluptum faceptatibus dolupta tiaerit, cor rehent et ex exceper oritatur asimaio ipic tendipsam repe veles alis etus aliquid maximinvere, commos perovit, con errum sed quid qui que comniscide iduciist, custiate nus mos expliti inis estem faccupta eaquidem ent.</p>
	
	<table>
		<colgroup>
			<col id="title">
			<col id="description">
			<col id="category">
			<col id="download">
			<col id="date">
		</colgroup>
		<tr>
			<td>Things I like</td>
			<td>Description: Is estempo rporuptiis voluptibus mi, quam fugit la cusci natibus sum cum vel ipid mi, si dolupta turestis atibeaque</td>
			<td>Category</td>
			<td><a href="url">download: pdf</a></td>
			<td>06 / 06 / 2013</td>
		</tr>
		<tr>
			<td>Movies that rage</td>
			<td>Description: Is estempo rporuptiis voluptibus mi, quam fugit la cusci natibus sum cum vel ipid mi, si dolupta turestis atibeaque</td>
			<td>Category</td>
			<td><a href="url">download: pdf</a></td>
			<td>06 / 06 / 2013</td>
		</tr>
		<tr>
			<td>About Boots</td>
			<td>Description: Is estempo rporuptiis voluptibus mi, quam fugit la cusci natibus sum cum vel ipid mi, si dolupta turestis atibeaque</td>
			<td>Category</td>
			<td><a href="url">download: pdf</a></td>
			<td>06 / 06 / 2013</td>
		</tr>
	</table>
	</div>
</section>-->


    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
    <script src="/static/js/plugins.js"></script>
	
    <script src="/static/js/main.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45235506-1', 'symonoliver.com');
	  ga('send', 'pageview');

	</script>
	
	<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
	
</body>

<script src="http://alsocollective.github.io/also-cdn/js/modernizr-2.6.2.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</html>